@import "../../../styles/colors";
.btnWrapper {
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 40px;
  cursor: pointer;
  width: 170px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Poppins";
  transition: all 0.2s ease-in-out;
}
.secondaryBtn {
  background-color: $white-color;
  color: $theme-primary;
  border-color: $theme-primary;
  &:hover {
    background-color: $theme-primary;
    color: $white-color;
    border-color: $white-color;
  }
}
.primaryBtn {
  background-color: $theme-primary;
  color: $white-color;

  &:hover {
    background-color: $white-color;
    color: $theme-primary;
    border-color: $theme-primary;
  }
}
