@import '../../styles/colors';
.headerWrapper {
  position: sticky;
  top: 0;
  background-color: $white-color;
  .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logoWrapper {
      display: flex;
      svg {
        width: 120px;
        height: 50px;
      }
    }
    .navList {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      a {
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }
  .headerBtnContainer{
    display: flex;
  }
}

.active {
  color: red;
}
