@import "../../styles/colors";
.headerWrapper {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: 100;
  padding: 20px 0px;
  box-shadow: 0px 0px 15px 0px #00000024;
  .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logoWrapper {
      display: flex;
      svg {
        width: 180px;
        height: 50px;
      }
    }
    .navList {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      a {
        color: $theme-secondary;
        text-decoration: none;
        text-transform: capitalize;
        font-family: "Poppins";
        font-size: 18px;
      }
      li {
        &:not(:last-of-type) {
          margin-right: 40px !important;
        }
      }
    }
  }
  .headerBtnContainer {
    display: flex;
    a {
      &:first-of-type {
        margin-right: 15px;
      }
    }
  }
}

.active {
  color: red;
}
